

.navbar-container {
    background-color: #0D0D0D;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 2 solid #0F3460;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .navbar-logo {
    height: 60px;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 15px;
  }
  
  .nav-button {
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #4EB1D9;
    color: white;
    border-color: #4EB1D9;
  }
  